/* General */
body{
  margin: 0;
  padding: 0;
  font-family: "Avenir";
}

main {
  overflow: hidden;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}
/* General */

/* Text Settings */
h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 1.1em;
  font-weight: 100;
}

h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
  font-weight: 200;
  font-size: 1.3em;
}

h3 {
  padding: 0;
  margin: 0;
}

h4 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
  font-size: .8em;
}
/* Text Settings */


/* Navbar */
.navbar {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar img {
  height: 40px;
  width: auto;
  margin-left: 10px;
}

.navbar .nav-links {
  display: none;
}

.navbar a {

}

.navbar a.ham-icon {
  color: #006DD4;
}
/* Navbar */

/* Footer */
footer {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

footer i {
  color: #006DD4;
}
.footer-main {
  background-color: #000000;
  padding: 25px 30px;
  color: #ffffff;
  font-size: 12px;
}

address {
  margin-bottom: 20px;
  font-style: normal;
}

.phone {
  margin-bottom: 20px;
}

.phone i, .phone-num {
  display: inline;
}

.footer-nav-links {
  list-style: none;
  padding-left: 0;
}

.footer-nav-links li {
  display: inline-block;
  padding: 5px;
}

.footer-credits {
  font-size: 10px;
  padding: 8px;
}

/* Footer */

/* Main Page */
.text {
  padding: 15px 10px;
}
/* Hero Section */
.hero {
  display: block;
  box-sizing: border-box;
}

.hero img {
  width: 100%;
  height: 175px;
}

.hero button {
  background: #006DD4;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 11px;
}
/* Hero Section */

/* Building Sections */
.building img {
  width: 100%;
}
/* Building Sections */

/* Newsletter Signup */
  .signup {
    background-image: url("images/skyline-img.png");
    background-size: cover;
    margin: 15px 0;
  }

  .signup-text {
    text-align: center;
    padding: 40px 10px;
  }

  .signup-text button {
    margin: 10px 0;
  }
/* Newsletter Signup */
/* Main Page*/

/* Service Pages General */
.banner {
  background: url("images/banner-background.png");
}

.banner-text {
  text-align: center;
  padding: 10% 10%;
  font-size: 1.25rem;
  color: #FFFFFF;
}

.form-container {
  margin-bottom: 40px;
}

form {
  background: #F5F5F5;
  padding: 40px 8px;
}

label {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  margin-bottom: 1.5em;
  padding: 8px 15px;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  padding: 8px 15px;
}

.submit {
  width: 40%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.serv-text {
  padding: 15px 8px;
}
/* Service Pages General */
