/* General */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  letter-spacing: .5px;
  line-height: 1.3;
}

main {
  overflow: hidden;
  padding-top: 68px;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: #006DD4;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 11px;
  font-weight: 400;
}
/* General */

/* Text Settings */
h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 1.1em;
  font-weight: 200;
}

h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
  font-weight: 200;
  font-size: 1.3em;
}

h3 {
  padding: 0;
  margin: 0;
}

h4 {
  padding: 0;
  margin: 0;
  font-size: 13px;
}

p {
  padding: 0;
  margin: 0;
  font-size: .8rem;
  font-weight: 400;
}
/* Text Settings */


/* Navbar */
header {
  width: 100%;
  position: fixed;
}

.navbar {
  overflow: hidden;
  background-color: #fff;
}

.navbar img {
  height: 40px;
  width: auto;
  margin-left: 10px;
}

.navbar .nav-links {
  display: none;
}

.navbar a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.navbar a.ham-icon {
  color: #006DD4;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10px;
}

.active {
  background-color: #006DD4;
  color: white;
}
/* Navbar */

/* Footer */
footer {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

footer i {
  color: #006DD4;
}
.footer-main {
  background-color: #000000;
  padding: 25px 30px;
  color: #ffffff;
  font-size: 12px;
}

address {
  margin-bottom: 20px;
  font-style: normal;
}

.phone {
  margin-bottom: 20px;
}

.phone i, .phone-num {
  display: inline;
}

.footer-nav-links {
  list-style: none;
  padding-left: 0;
}

.footer-nav-links li {
  display: inline-block;
  padding: 5px;
}

.footer-credits {
  font-size: 10px;
  padding: 8px;
}

/* Footer */

/* Main Page */
.text {
  padding: 15px 10px;
}
/* Hero Section */
.hero {
  display: block;
  box-sizing: border-box;
}

.hero img {
  width: 100%;
  height: 175px;
}
/* Hero Section */

/* Building Sections */
.building img {
  width: 100%;
}
/* Building Sections */

/* Newsletter Signup */
  .signup {
    background-image: url("images/skyline-img.png");
    background-size: cover;
    margin: 15px 0;
  }

  .signup-text {
    text-align: center;
    padding: 40px 10px;
  }

  .signup-text button {
    margin: 10px 0;
  }
/* Newsletter Signup */
/* Main Page*/

/* Service Pages General */
.banner {
  background: url("images/banner-background.png");
}

.banner-text {
  text-align: center;
  padding: 10% 10%;
  font-size: 1.25rem;
  color: #FFFFFF;
}

.form-container {
  margin-bottom: 40px;
}

form {
  background: #F5F5F5;
  padding: 40px 8px;
}

label {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

input, select {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  margin-bottom: 1.5em;
  padding: 8px 15px;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  padding: 8px 15px;
}

.submit {
  width: 40%;
  background: #006DD4;
  color: #FFFFFF;
  outline: none;
  border-radius: 5px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.serv-text {
  padding: 15px 8px;
}

/* Service Pages General */

/* Contact Page */
.tenant-linkover {
  font-weight: 600;
  font-style: italic;
}
/* Contact Page */

/* Tenants Page */
.rent-button {
  margin: 20px 0;
}
/* Tenants Page */

/* Buildings General */
.build-infotext {
  text-align: center;
  margin: 10px 0;
}

.build-infotext p {
  display: inline-block;
}

.community-contain {
  display: none;
}

.build-desc {
  padding: 15px 8px;
}

.build-stats {
  padding: 15px 8px;
}

.stat-label, .stat-actual {
  display: inline-block;
}

.stat-actual {
  float: right;
}

.oth-prop {
  display: flex;
  padding: 15px 8px;
  margin: 15px 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.oth-prop-img {
  flex-basis: 40%;
}

.oth-prop-name {
  text-align: center;
  padding-bottom: 5px;
  font-size: 12px;
}

.oth-prop-text {
  flex-basis: 60%;
  padding: 0 10px;
}

.label, .actual {
  display: inline-block;
}

.label p {
  font-weight: 600;
}

.actual {
  float: right;
}

iframe {
  max-width: 100%;
  max-height: 200px;
  padding: 20px 0;
}
/* Buildings General */





@media only screen and (min-width: 768px) {
/* General */
  body {
    padding: 0 20px;
  }
/* General */

/* Navbar */
.navbar a {
  padding: 14px 20px;
  font-size: 17px;
  display: block;
}

.navbar img {
  height: 40px;
  width: auto;
  margin: 0;
}

.navbar a.ham-icon {
  color: #006DD4;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10px;
  margin-right: 10px;
}
/* Navbar */
/* Service Pages General */
.banner-text {
  padding: 5% 10%;
  font-size: 1.75rem;
}
/* Service Pages General */
}

@media only screen and (min-width: 992px) {
  /* Navbar */
  .navbar a.ham-icon {
    display: none;
  }

  .navbar .nav-links {
    padding: 0 20px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: middle;
  }

  .navbar a {
    padding: 0 20px;
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 78px;
  }

  .navbar img {
    padding: 14px 20px;
    padding-left: 0;
    height: 45px;
    width: auto;
    margin-left: 10px;
  }
  /* Navbar */

  /* Service Pages General */
  .banner-text {
    padding: 4% 10%;
    font-size: 1.75rem;
  }

  .form-container {
    width: 45%;
    display: inline-block;
    float: left;
    padding-top: 30px;
  }

  form {
    padding: 40px 30px;
  }

  .serv-text {
    float: right;
    width: 40%;
    display: inline-block;
    padding: 60px;
  }
  /* Service Pages General */

  /* Accounting */
  .acct-info {
    padding-top: 30px;
  }

  .info-img {
    width: 50%;
    display: inline-block;
  }

  .acct-graphics {
    padding: 50px 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }

  .serv-graphic {
    flex-basis: 20%;
  }

  .acct-consult {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
  }

  .acct-consult button {
  }
  /* Accounting */

  /* Footer */
  .footer-main {
    height: 80px;
    font-weight: 600;
  }
  .contact {
    float: left;
    text-align: left;
  }

  .footer-links {
    float: right;
  }
  /* Footer */
}
