/* General */
body{
  margin: 0;
  padding: 0;
}

main {
  overflow: hidden;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}
/* General */

/* Text Settings */
h1 {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  font-weight: 200;
}

h2 {
  padding: 0;
  margin: 0;
}

h3 {
  padding: 0;
  margin: 0;
}

h4 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}
/* Text Settings */


/* Navbar */
.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar img {
  height: 30px;
  width: auto;
  margin-left: 10px;
}

.navbar .nav-links {
  display: none;
}

.navbar a {

}

.navbar a.ham-icon {
  color: #006DD4;
}
/* Navbar */

/* Footer */
footer {
  text-align: center;
  text-transform: uppercase;
}
.footer-main {
  background-color: #000000;
  padding: 25px 30px;
  color: #ffffff;
}

address {
  margin-bottom: 20px;
  font-style: normal;
}

.phone {
  margin-bottom: 20px;
}

.phone i, .phone-num {
  display: inline;
}

/* Footer */

/* Main Page */
.text {
  padding: 30px 10px;
}
/* Hero Section */
.hero {
  display: block;
  box-sizing: border-box;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero button {
  background: #006DD4;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  text-transform: uppercase;
}
/* Hero Section */

/* Building Sections */
.building {

}

.building img {
  width: 100%;
}
/* Building Sections */

/* Newsletter Signup */
  .signup {
    background-image: url("images/skyline-img.png");
    background-size: cover;
  }
/* Newsletter Signup */
/* Main Page*/
